@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif !important;

  box-sizing: border-box !important
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.app-column {
  margin-inline: auto;
}

.app-tabbar {
  inset-inline: 0;
  max-width: 640px;
  margin-inline: auto;
}

.page-content {
  padding: 24px 16px;
}

.vkuiTabbarItem {
  .vkuiTappable {
    display: none;
  }
}

.icon-meets.active > * {
    fill: rgba(0, 122, 255, 1)
}

.icon-requests.active > * {
    fill: rgba(0, 122, 255, 1)
}

.icon-chats.active > * {
  fill: rgba(0, 122, 255, 1)
}

.icon-manage.active > * {
  fill: rgba(0, 122, 255, 1)
}

.vkuiTabbarItem__host {
  height: 64px;
}

.vkuiTabbarItem__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  overflow: visible;
}

.app-tabbar {
  height: 70px;
}

#root, .page-content {
  background-color: rgba(237, 238, 242, 1) !important;
}